<img src="images/ajax-loader.gif" ng-show="loading">
<div class="tile notes" >
    <div ng-repeat = "note in notes | filter: search" class="row">
    	<div class="span5">
    		<h6>{{ note.created_at }} by {{ note.user.username }} </h6>
		    <h5>
			    <a href="#/notes/show/{{ note.id }}">{{ note.title }}</a>
		    </h5>
            <P>{{ note.content }}</P>
    	</div>
    	<div class="span2">
			<a href="#/notes/update/{{ note.id }}" class="btn btn-mini fui-new"></a>
			<a class="btn btn-mini fui-cross" ng-click="delete(note.id)"></a>
    	</div>
    </div>
</div>