<div class="alert alert-error" ng-show="isError">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
        Wrong Username or Password!!
</div>
<div class="row">
	<div class="span5">
		<img src="/images/icons/book@2x.png" class="login-img">
	</div>
	<div class="span7">
			<form class="form-horizontal login-form" ng-submit="authenticate(login)">
				<div class="control-group">
			    	<input type="text" placeholder="Enter your username" ng-model="login.username" class="login-field">
				</div>
				<div class="control-group">
			    	<input type="password" ng-model="login.password" placeholder="Password" class="login-field">
				</div>
					<button class="btn btn-primary btn-large">Login</button>
			   		<a href="#/signup" class="btn btn-large">Sign Up</a>
					<a href="#/forgotpassword" id="buttonLostPassword" class="login-link">Lost Your Password?</a>
			</form>
	</div>
</div>


