<div class="row">
	<div class="span5">
		<img src="/images/icons/book@2x.png" class="login-img">
	</div>
	<div class="span7">
			<form class="form-horizontal login-form" ng-submit="create(signup)">
				<div class="control-group">
			    	<input type="text" placeholder="Enter your username" ng-model="signup.username" class="login-field">
				</div>
				<div class="control-group">
			    	<input type="password" placeholder="Password" ng-model="signup.password" class="login-field">
				</div>
				<div class="control-group">
			    	<input type="text" placeholder="Email Address" ng-model="signup.email" class="login-field">
				</div>
					<a href="#/login" class="btn btn-large"><span class="fui-arrow-left"></span></a>
					<button class="btn btn-primary btn-large">Sign Up</button>
			   	</div>
			</form>
	</div>
</div>